.cart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10px;
  width: 300px;
  min-height: 200px;
  background-color: rgb(102, 102, 102);
}

.cartImg {
  color: black;
  width: 90%;
  height: 100px;
  background-color: white;
}

.cartTitle{
    font-size: 20px;
}

.cartDesc{
    font-size: 16px;
}